awscli==1.16.309
boto3==1.10.45
cached_property
dill
gym==0.14.0
imutils==0.5.1
joblib==0.10.3
lxml==4.4.1
lz4
matplotlib==3.1.0
nose2==0.8.0
numpy==1.18.4
numpydoc
opencv-python
pandas==0.24.2
path.py
plotly==2.4.0
psutil
pyglet==1.3.2
pyprind==2.11.2
python-dateutil==2.7.3
pytz
ray==0.8.0
redis==3.3.2
scipy==1.1.0
setproctitle
six==1.11.0
tabulate
tensorboardX
tensorflow==1.15.2
torch==1.4.0
